<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <contextName>Docfinder</contextName>
    <jmxConfigurator />

    <!-- redirects JUL logging to logback -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{ISO8601} %-5level[%thread] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="INFO" />
    <logger name="akka.actor.RepointableActorRef" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>